@import "../../styles/_variables.scss";

.UserCard__Container {
    height: $userBlock__Container--height * 0.8;
}

.UserCard__Image {
    background-image: url(../../images/gai.jpg);
    height: $userCard__image--size;
    width: $userCard__image--size;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;

    &--Suspenso {
        filter: opacity(50%);
    }
}

.UserCard__TextName {
    //wat

    &--Suspenso {
        color: $userCard__TextEmail--color;
    }
}

.UserCard__TextEmail {
    font-size: $userCard__TextEmail--font-size;
    color: $userCard__TextEmail--color;

    &--Suspenso {
        color: $userCard__TextEmailSuspenso--color;
    }
}

.UserCard__DisplayText {
    /* overflow: hidden; */
    white-space: nowrap;
}

.UserCard__LineHeight {
    line-height: 1;
}