/* NavTitle */

$navTitle__button--text-color: #fbe6df;
$navTitle__button--bg-color: #eb8264;
$navTitle__container--bg-color: #f0f0f0;
$navTitle__container--padding-top: 6vh;
$navTitle__container--height: 12vh;
$navTitle__container--width: 100%;
$navTitle__title--text-color: #525252;

/* NavSearch */

$navSearch__image--size: 25px;

/* NavOrder */

$navOrder__button--font-size: 14px;
