/* Header */

$header__button--text-color: #fbe6df;
$header__button--bg-color: #eb8264;
$header__container--bg-color: #f0f0f0;
$header__container--padding-top: 6vh;
$header__container--height: 12vh;
$header__container--width: 100%;
$header__title--text-color: #525252;

/* SearchBar */

$searchBar__image--size: 25px;
$searchBar__container--height: 60px;

/* OrderBar */

$orderBar__button--font-size: 14px;
$orderBar__buttonAluno--ml: 2%;
$orderBar__buttonSituacao--ml: 20%;
$orderBar__buttonPapel--ml: 12%;
$orderBar__buttonAtualizado--ml: 20%;
$orderBar__container--height: 42px;

/* UserBlock */

$userBlock__imageTrash--size: 15px;
$userBlock__borderTrash--size: 28px;
