@import "./_variables.scss";

@import "./card.scss";
@import "./formAdd.scss";
@import "./navOrder.scss";
@import "./navSearch.scss";
@import "./navTitle.scss";

@import url("https://fonts.googleapis.com/css?family=Raleway:300&display=swap");

$main__container--bg-color: #f0f0f0;
$main__container--width: 70vw;

body {
  font-family: "Raleway", sans-serif !important;
  background-color: $main__container--bg-color !important;
}

.Main__Container {
  background-color: $main__container--bg-color;
  height: 100vh;
  /* width: $main__container--width; */

  /* margin-left: (100vw - $main__container--width) / 2; */
}
