@import "./_variables.scss";

.NavSearch__Image {
  background-image: url(../images/searchIcon.png);
  height: $navSearch__image--size;
  width: $navSearch__image--size;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
}
