@import "../../styles/_variables.scss";

.AddUser__Container {
  height: $addUser__container--height;
}

.AddUser__Form {
  width: $addUser__form--width !important;
}

.AddUser__Button {
  width: $addUser__button--width;

  &--Salvar {
    background-color: $addUser__buttonSalvar--bgColor !important;
    border-color: $addUser__buttonSalvar--border-color !important;
  }
  &--Cancel {
    border-color: $addUser__buttonCancel--border-color !important;
  }
}
