@import "../../styles/_variables.scss";

.SearchBar__Image {
  background-image: url(../../images/searchIcon.png);
  height: $searchBar__image--size;
  width: $searchBar__image--size;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
}

.SearchBar__Icon {
  font-size: $searchBar__icon--font-size;
}

.SearchBar__Container {
  height: $searchBar__container--height;
}
