@import "../../styles/_variables.scss";

.UserBlock__Trash {
  background-image: url(../../images/trash.png);
  height: $userBlock__imageTrash--size;
  width: $userBlock__imageTrash--size;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;

  &--Border {
    width: $userBlock__borderTrash--size;
    height: $userBlock__borderTrash--size;
  }
}

.UserBlock__IconCircle {
  font-size: $userBlock__IconCircle--font-size;

  &--Ativo {
    color: $addUser__buttonSalvar--bgColor;
  }
  &--Suspenso {
    color: $header__button--bg-color;
  }
}

.UserBlock__ButtonStatus {
  /* font-size: $userBlock__ButtonStatus--font-size !important; */
  height: $userBlock__ButtonStatus--height;

  &--Ativo {
    width: $userBlock__ButtonStatusAtivo--width;
  }
  &--Suspenso {
    width: $userBlock__ButtonStatusSuspenso--width;
    background-color: $userBlock__ButtonStatusSuspenso--bg-color !important;
  }
}

.UserBlock__Font {
  /* font-size: $userBlock__ButtonStatus--font-size !important; */

  &--Ativo {
    color: black;
  }
  &--Suspenso {
    color: $userBlock__FontSuspenso-color !important;
  }
}

.UserBlock__Container {
  height: $userBlock__Container--height;
}
